/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.pong-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
